keybinds clear-defaults=true {
    locked {
        bind "ctrl space" { SwitchToMode "normal"; }
    }
    shared_among "normal" "search" "scroll" {
        // general
        bind "esc" { SwitchToMode "locked"; }

        bind "[" { PreviousSwapLayout; }
        bind "]" { NextSwapLayout; }

        bind "l" { Clear; }

        // pane
        bind "v" { NewPane "right"; SwitchToMode "locked"; }
        bind "s" { NewPane "down"; SwitchToMode "locked"; }
        bind "backspace" { CloseFocus; SwitchToMode "locked"; }

        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "locked"; }

        bind "left" { MoveFocus "left"; SwitchToMode "locked"; }
        bind "down" { MoveFocus "down"; SwitchToMode "locked"; }
        bind "up" { MoveFocus "up"; SwitchToMode "locked"; }
        bind "right" { MoveFocus "right"; SwitchToMode "locked"; }

        // tab
        bind "t" { NewTab; SwitchToMode "locked"; }
        bind "b" { BreakPane; SwitchToMode "locked"; }
        bind "shift backspace" { CloseTab; SwitchToMode "locked"; }

        bind "shift left" { MoveTab "left"; }
        bind "shift right" { MoveTab "right"; }

        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }

        bind "a" { ToggleTab; SwitchToMode "locked";}
        bind "tab" { GoToNextTab; }
        bind "shift tab" { GoToPreviousTab; }

        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }

        // resize
        bind "=" { Resize "increase"; }
        bind "-" { Resize "decrease"; }
        bind "alt left" { Resize "increase left"; }
        bind "alt down" { Resize "increase down"; }
        bind "alt up" { Resize "increase up"; }
        bind "alt right" { Resize "increase right"; }
        bind "alt shift left" { Resize "decrease left"; }
        bind "alt shift down" { Resize "decrease down"; }
        bind "alt shift up" { Resize "decrease up"; }
        bind "alt shift right" { Resize "decrease right"; }

        // move
        bind "ctrl shift right" { MovePane; }
        bind "ctrl shift left" { MovePaneBackwards; }

        bind "ctrl left" { MovePane "left"; }
        bind "ctrl down" { MovePane "down"; }
        bind "ctrl up" { MovePane "up"; }
        bind "ctrl right" { MovePane "right"; }

        // edit
        bind "e" { EditScrollback; SwitchToMode "locked"; }

        // search
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }

        // scroll
        bind "?" { SwitchToMode "scroll"; }

        // session
        bind "." {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
    }
    entersearch {
        bind "esc" { SwitchToMode "locked"; }
        bind "enter" { SwitchToMode "search"; }
    }
    search {
        bind "n" { Search "down"; }
        bind "n" { Search "up"; }
        bind "c" { SearchToggleOption "casesensitivity"; }
        bind "w" { SearchToggleOption "wholeword"; }
    }
    shared_among "search" "scroll" {
        bind "esc" { SwitchToMode "locked"; }
        bind "alt pagedown" { ScrollDown; }
        bind "alt pageup" { ScrollUp; }
        bind "pagedown" { HalfPageScrollDown; }
        bind "pageup" { HalfPageScrollUp; }
    }
    shared_among "renamepane" "renametab" {
        bind "enter" { SwitchToMode "locked"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "locked"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "locked"; }
    }
}

on_force_close "quit"

mouse_mode false
copy_on_select false

auto_layout true
default_layout "compact"
default_mode "locked"

session_serialization true
serialize_pane_viewport true
scroll_buffer_size 10000

simplified_ui false
pane_frames false
ui { 
    pane_frames { 
        rounded_corners true
    }
}

theme "meliora"

themes {
    meliora {
        bg "#1c1917"
        fg "#dad7d5"
        red "#d29595"
        green "#c9b58e"
        yellow "#c9b58e"
        blue "#a49db9"
        magenta "#b494af"
        orange "#c2b4a8"
        cyan "#cbab8a"
        white "#dad7d5"
        black "#302D2B"
    }
}
