[include]
    path = ~/.gitconfig.local
[init]
    defaultBranch = main
[core]
    editor = hx
[diff]
    external = difft
[alias]
    log-graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    log-list = log --all --decorate --oneline --graph
