[include]
    path = ~/.gitconfig.local
[core]
    editor = hx
[init]
    defaultBranch = main
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    ll = --all --decorate --oneline --graph
[color]
	ui = true
[color "diff"]
	meta = yellow bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = yellow
	untracked = cyan
