# ====================== CONFIG ======================

[theme]
dark = 'blight'
light = 'ornament'

[editor]
shell = ['fish', '-c']

idle-timeout = 100

scrolloff = 10

true-color = true
undercurl = true
color-modes = true
bufferline = 'never'
line-number = 'relative'
gutters = ['diff']

jump-label-alphabet = 'shtareniwfdolubjcpmxqgyzvk'

completion-timeout = 5
completion-trigger-len = 1

auto-info = false
auto-pairs = false
continue-comments = false

trim-final-newlines = true
trim-trailing-whitespace = true

end-of-line-diagnostics = 'disable'

[editor.inline-diagnostics]
cursor-line = 'hint'

[editor.statusline]
diagnostics = ['hint', 'warning', 'error']
workspace-diagnostics = ['hint', 'warning', 'error']

separator = '::'
left = ['file-name', 'diagnostics', 'file-modification-indicator', 'spacer']
right = ['spinner', 'spacer', 'selections', 'separator', 'primary-selection-length', 'separator', 'position', 'separator', 'total-line-numbers']

[editor.indent-guides]
render = false
character = '▏'

[editor.soft-wrap]
wrap-indicator = '↪ '
max-indent-retain = 0
wrap-at-text-width = true

[editor.whitespace.characters]
newline = '↩'

[editor.file-picker]
hidden = false

[editor.lsp]
display-progress-messages = true

[editor.word-completion]
enable = true
trigger-length = 3

# =============== KEYBINDINGS (NORMAL) ===============

[keys.normal]
A-k = 'signature_help'

ret = 'goto_word'

A-e = 'move_next_sub_word_end'
A-w = 'move_next_sub_word_start'
A-b = 'move_prev_sub_word_start'

x = 'select_line_below'
X = 'select_line_above'

S-up = ['extend_to_line_bounds', 'delete_selection', 'move_line_up', 'paste_before']
S-down = ['extend_to_line_bounds', 'delete_selection', 'paste_after']

pagedown = ['page_cursor_half_down', 'align_view_center']
pageup = ['page_cursor_half_up', 'align_view_center']

C-pagedown = ':buffer-next'
C-pageup = ':buffer-previous'

[keys.normal.space.w]
S-up = 'swap_view_up'
S-left = 'swap_view_left'
S-down = 'swap_view_down'
S-right = 'swap_view_right'

[keys.normal.backspace]
c = ':buffer-close'
C = ':buffer-close!'

o = ':buffer-close-others'
O = ':buffer-close-others!'

# =============== KEYBINDINGS (SELECT) ===============

[keys.select]
ret = 'extend_to_word'

x = 'select_line_below'
X = 'select_line_above'

S-up = ['extend_to_line_bounds', 'delete_selection', 'move_line_up', 'paste_before']
S-down = ['extend_to_line_bounds', 'delete_selection', 'paste_after']

pagedown = ['page_cursor_half_down', 'align_view_center']
pageup = ['page_cursor_half_up', 'align_view_center']

# =============== KEYBINDINGS (INSERT) ===============

[keys.insert]
A-k = 'signature_help'

up = 'no_op'
down = 'no_op'
left = 'no_op'
right = 'no_op'
pageup = 'no_op'
pagedown = 'no_op'
home = 'no_op'
end = 'no_op'

# =============== KEYBINDINGS (CONFIG) ===============

[keys.normal.h]
r = ':config-reload'
c = ':open ~/.config/helix/config.toml'
l = ':open ~/.config/helix/languages.toml'

h = ':toggle-option lsp.display-inlay-hints'
w = ':toggle-option whitespace.render all none'
g = ':toggle-option rulers [] [80, 120]'

[keys.normal.l]
r = ':lsp-restart'
c = ':lsp-workspace-command'
s = ':lsp-stop'
