# ================ LANGUAGES ================

# Haskell
[[language]]
name = 'haskell'
language-servers = ['haskell-language-server']
indent = { tab-width = 4, unit = '    ' }
auto-format = true

# Cabal
[[language]]
name = 'cabal'
file-types = ['cabal', 'project']
language-servers = ['haskell-language-server']
indent = { tab-width = 4, unit = '    ' }
auto-format = true

# C
[[language]]
name = 'c'
file-types = ['c', 'h']
language-servers = ['clangd']
indent = { tab-width = 4, unit = '    ' }
auto-format = true

# TOML
[[language]]
name = 'toml'
language-servers = ['taplo']
formatter = { command = 'taplo', args = ['fmt', '-'] }
indent = { tab-width = 4, unit = '    ' }
auto-format = true

# Markdown
[[language]]
name = 'markdown'
language-servers = ['marksman', 'harper-ls']
formatter = { command = 'npx', args = ['prettier', '--parser', 'markdown'] }
indent = { tab-width = 4, unit = '    ' }
auto-format = true
soft-wrap.enable = true

# Typst
[[language]]
name = 'typst'
language-servers = ['tinymist', 'harper-ls']
indent = { tab-width = 4, unit = '    ' }
auto-format = true
soft-wrap.enable = true

# Git Config
[[language]]
name = 'git-config'
file-types = [{ glob = '.gitmodules' }, { glob = '.gitconfig.local' }, { glob = '.gitconfig' }, { glob = '.git/config' }, { glob = '.config/git/config' }]
indent = { tab-width = 4, unit = '    ' }

# Git Commit
[[language]]
name = 'git-commit'
language-servers = ['harper-ls']
indent = { tab-width = 4, unit = '    ' }

# ================= SERVERS =================

# haskell-language-server
[language-server.haskell-language-server.config]
checkParents = 'AlwaysCheck'
formattingProvider = 'fourmolu'
cabalFormattingProvider = 'cabal-gild'

plugin.fourmolu.config.external = true
plugin.rename.config.crossModule = true
plugin.hlint.config.flags = [
    '--with-group=future',
    '--with-group=extra',
    '--with-group=use-lens',
    '--with-group=use-th-quotes',
    '--with-group=generalise',
    '--with-group=generalise-for-conciseness',
    '--with-group=dollar',
    '--with-group=teaching',
]

# rust-analyzer
[language-server.rust-analyzer.config]
completion.callable.snippets = 'none'

interpret.tests = true
procMacro.enable = true

diagnostics.styleLints.enable = true
diagnostics.experimental.enable = true

check.features = 'all'
check.command = 'clippy'

cargo.features = 'all'

rustfmt.extraArgs = ['+nightly']

# harper-ls
[language-server.harper-ls.config.harper-ls]
codeActions.ForceStable = true

linters.UseGenitive = true
linters.BoringWords = true
linters.AnotherThinkComing = true
